* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    height: 100%;
    width: 315px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    margin: 0 2%;
}


.music-img {
    width: 300px;
    height: 300px;
    /* max-width: 400px; */
    /* max-height: 600px; */
    /* border-radius: 7px; */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    overflow: hidden;

    
}

.music-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.music-info {
    background-color: #000;
    border-radius: 7px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* padding: 0 2%; */
}

.music-info p, h4 {
    padding: 0 3%;
    margin: 0.5%;
    color: white;
    margin-right: auto;
}

#artist {
    margin-right: auto;
}

/* .music-info p {
    margin: 0.5% 0.5% 4% 0.5%;
} */

.music-control {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    z-index: 1;
}

.action-btn {
    background-color: #000000;
    border-radius: 100%;
    border: #000 12px solid;
    margin: 0 10%;
    font-size: 24px;
    color: rgb(211, 211, 211);
    position: relative;
    top: -8px;
    cursor: pointer;
}

.action-btn-big {
    font-size: 30px;
    top: -15px;
}

.action-btn:hover {
    background-color: rgb(68, 68, 68);
    border: rgb(68, 68, 68) 12px solid;
}

.action-btn:focus {
    outline: none;
}

.container.play .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    height: 4px;
    width: 98%;
    margin: 0.5% 0.5% 6% 0.5%;
    position: relative;
    left: 2px;
}

.progress {
    background-color: red;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}